body {
    font-family: "Bradley Hand ITC", sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 20px;
    background-color: #ffca7b;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.right-image {
    max-width: 200px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 10px;
}

.contact-details {
    margin: 20px;
}

.contact-details ul {
    list-style: none;
    padding: 0;
}

.contact-details ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.cta-buttons a {
    display: inline-block;
    background-color: rgba(236, 92, 6, 0.94);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.3s ease;
    animation: move 2s infinite alternate;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

.cta-buttons a:hover {
    background-color: #003f7f;
    transform: scale(1.1);
}
