<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Simulator Game</title>
    <link rel="stylesheet" href="/static/test.css">
</head>
<body>

<header>
    <h1>SkyCargo Challenge</h1>
    <p>"Experience the Skies Like Never Before"</p>
    <div class="cta-buttons">
        <a href="game.html">Play Now</a>
        <a href="about.html">About the Game</a>
    </div>


</header>

<footer>
    <p>&copy; 2024 SkyCargo Challenge. All rights reserved.</p>
    <p><a href="privacy.html">Privacy Policy</a> | <a href="contact.html">Contact Us</a></p>
</footer>


</body>
</html>
